*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #d66d62;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 15px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    border-style: solid;
}
.todo-app h2{
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none; 
    background: transparent;
    padding: 10px;
}
#add-button {
    border: none;
    outline: none; 
    padding: 14px 30px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#add-button:hover {
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.24)
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 3px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
li.checked .task-text{
    color : #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check.png);
}
img[alt="Delete"]{
    position: absolute;
    right: 0;
    width: auto;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}
img[alt="Delete"]:hover{
    background: #edeef0;
}
#priority-select {
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
    margin-right: 10px;
}

/* Change border and background on focus */
#priority-select:focus {
    border-color: #007BFF;
    background-color: #fff;
}

/* Style the options in the dropdown */
#priority-select option {
    background-color: #fff;
    color: #333;
    padding: 8px;
}
/* Task Priority Text from task */
.task-priority {
    font-size: 12px;
    padding-left: 5px;
    font-style: italic;
}
.task-priority.urgent {
    color: red;
}
/* Not-urgent tasks */
.task-priority.not-urgent {
    color: green;
}
.completion-date {
    font-style: italic;
    font-size: 12px;
}
#filter-toggle {
    margin-bottom: 10px;
    width: 100%;
}